<!DOCTYPE HTML>
 <html>
   <head>
    <title>tables and forms</title>
   </head>

    <body>
     <tables border="1">
      <thread>
        <th>table1</th>
        <th>table2</th>
      </thread>
      
      

      
     </tables>
    
    </body>
 
 </html>